@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

.colorCard {
  composes: card from 'components/card/Card.module.scss';
}

.colorCard h3 {
  margin-top: 8px;
  @include ca-ideal-heading-type();
  font-weight: $ca-weight-light;
}

.cardToggleButton {
  composes: buttonReset from 'components/HtmlContent.module.scss';
  color: $ca-palette-ink;
  display: block;
  color: $ca-palette-ink;
  cursor: pointer;
}

.toggleIconWrapper {
  color: add-tint($ca-palette-ink, 80);
  position: relative;
  top: 6px;
  left: 2px;
}

.colorCard h4 {
  text-transform: uppercase;
  color: add-tint($ca-palette-ink, 50%);
  font-weight: $ca-weight-book;
  font-size: 10px;
  line-height: 10px;
  margin-top: 16px;
  margin-bottom: 8px;
}

$accessibilityTileWidth: 46px;

.subheader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  h4 {
    flex: 1;
  }
  div {
    flex: 0 0 $accessibilityTileWidth;
  }
  .tile {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: 0 auto 7px;
    display: block;
    font-family: sans-serif;
    text-align: center;
    &.small {
      font-size: 10px;
      line-height: 18px;
    }
    &.large {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.colorBlock {
  composes: kebabHoverArea from 'components/kebab/Kebab.module.scss';
  box-sizing: border-box;
  background: black;
  height: 91px;
  line-height: 71px;
  vertical-align: middle;
  margin-bottom: 4px;
  padding: 10px 0;
  font-weight: $ca-weight-light;
  color: $ca-palette-ink;
  display: flex;
  flex-direction: row;
}

.colorBlockHalf {
  height: 41px;
  line-height: 21px;
}

.whiteText {
  color: white;
}

.accessibilityIcon {
  flex: 0 0 $accessibilityTileWidth;
  text-align: center;
}

.kebabContainer {
  line-height: 80px;
  margin-right: 10px;
}

.colorBlockLabel {
  flex: 1;
  margin-left: 10px;
}

.colorBlockHalf .kebabContainer {
  line-height: 27px;
}

.dropdownItem {
  display: flex;
  flex-direction: row;
  line-height: 20px;
}

.dropdownItem strong {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  width: 4em;
}

.dropdownItem input {
  opacity: 0.4;
  font-size: 10px;
  flex: 1;
  outline: none;
  appearance: none;
  border: 0;
  padding: 0;
  background: inherit;
  line-height: inherit;
  cursor: pointer;
  text-overflow: ellipsis;

  a:hover & {
    opacity: 1;
  }
}
