@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

%ca-button {
  display: inline-block;
  background: add-tint($ca-palette-ink, 90%);
  color: add-alpha($ca-palette-ink, 30%);
  padding: 0 20px;
  font-weight: $ca-weight-semibold;
  height: 50px;
  font-size: 14px;
  font-family: $ca-default-font-family;
  border-radius: 3px;
  transition: none;
  box-shadow: 0 1px 3px $ca-box-shadow;
  border: 0;
  outline: none;
  box-sizing: border-box;

  svg {
    position: absolute;
    top: 7px;
    width: 34px;
    height: 34px;
    // color: inherit;
    color: add-alpha($ca-palette-ink, 20%);
    line-height: 23px;
  }

  // We can't just used :enabled here, because we want to be able to apply these
  // styles to non-form elements, such as hyperlinks. :not(:disabled) is
  // equivalent on form elements, but also allows these styles to be applied to
  // elements that have no enabled/disabled states.
  &:not(:disabled) {
    background: $ca-palette-coral;
    color: #fff;
    cursor: pointer;

    svg {
      color: inherit;
    }

    &:hover {
      background: add-shade($ca-palette-coral, 10%);
      text-decoration: none;
    }

    &:active {
      background: add-shade($ca-palette-coral, 15%);
      position: relative;
      top: 1px;
    }

    // &:focus {
    //   outline: 2px solid $ca-palette-ocean;
    //   outline-offset: -2px;
    // }
  }
}

// Variations

%ca-button--with-icon {
  @extend %ca-button;
  padding-left: 50px;
  position: relative;

  svg {
    left: 14px;
  }
}

%ca-button--dropdown {
  // Put an =icon('icon-chevron-down') in the button for this one
  @extend %ca-button;
  padding-right: 63px;
  position: relative;
  width: 100%;
  text-align: left;

  svg {
    right: 10px;
  }
}


// Modifiers


%ca-button---fixed {
  width: 220px;
}

%ca-button---mid {
  height: 40px;
  padding: 0 12px;
}

%ca-button---small {
  font-size: 10px;
  height: 25px;
  padding: 0 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

%ca-button---secondary {
  background: #fff;
  border: 1px solid add-tint($ca-palette-ink, 80%);
  color: add-alpha($ca-palette-ink, 30%);

  svg {
    color: add-alpha($ca-palette-ink, 20%);
  }

  &:not(:disabled) {
    background: #fff;
    color: $ca-palette-ink;

    svg {
      color: inherit;
    }

    &:hover {
      background: add-tint($ca-palette-ink, 95%);
      border-color: add-tint($ca-palette-ink, 60%);
    }

    &:active {
      background: add-tint($ca-palette-ink, 90%);
      border-color: add-tint($ca-palette-ink, 40%);
    }
  }
}

%ca-button---ghost {
  background: transparent;
  color: add-alpha(#fff, 30%);
  border: 1px solid add-alpha(#fff, 50%);

  &:not(:disabled) {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background: add-alpha(#fff, 10%);
    }

    &:active {
      background: add-alpha(#fff, 30%);
    }
  }
}

%ca-button---positive {
  &:not(:disabled) {
    background: add-tint($ca-palette-seedling, 10%);

    &:hover {
      background: $ca-palette-seedling;
    }

    &:active {
      background: add-shade($ca-palette-seedling, 10%);
    }
  }
}
