@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import './layout.module.scss';

.headerBar {
  @include ca-type-ideal-body;
  @include ca-inherit-baseline;

  background: white;
  height: $headerHeight;
  padding: 5px 15px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // Prevent baseline shifting on the menu buttons.
  a,
  button {
    @include ca-inherit-baseline;
  }
}
.hamburgerIcon {
  width: 48px;
  height: 48px;
  padding-top: 27px;
  display: inline-block;
  color: $ca-palette-ink;
}
.downloadIcon {
  padding-left: 10px;
  position: relative;
  top: 4px;
}
