@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/color';
@import 'reset';

html {
  background: $ca-palette-stone;
  color: $ca-palette-ink;
  font-family: $ca-ideal-sans;
  font-weight: $ca-weight-light;
  font-size: $ca-default-font-size;
}

body {
  font-size: $ca-body-font-size;
  line-height: $ca-body-line-height;
  font-weight: $ca-body-font-weight;
}

.page-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  clear: both;
}
