@import '~cultureamp-style-guide/styles/layers';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

/*
      +-------------------------------------+
      |n|         header                    |
      |a|-----------------------------------| --
      |v|       |                           |  |
      |b|       |                           |  |
      |a|   s   |                           |  |
      |r|   i   |                           |  |
      | |   d   |                           |  |
      | |   e   |         content           |  |  body
      | |   b   |                           |  |  (containing body-content)
      | |   a   |                           |  |
      | |   r   |                           |  |
      | |       |                           |  |
      | |       |                           |  |
      | |-----------------------------------| --
      | |         footer                    |
      +-------------------------------------+

        |-----------------------------------|
                      page
*/

%root {
  display: flex;
  align-items: stretch;
}

%navigation-bar {
  flex: 0 0 auto;
}

%page {
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  height: 100vh; // scrolling content will overflow
}

%header,
%footer {
  flex: 0 0 auto;
}

%body {
  // %body provides a positioning context for %body-content,
  // which may be nested n levels deep in the DOM.
  position: relative;
  flex: 1 1 0px;
  height: 0; // flex-basis 0px doesn't work in most browsers
}

%body-content {
  display: flex; // TODO: check this is needed for sticky footer in IE

  // match position & dimensions of %body so that child sticky footer can stick to bottom of %body
  position: absolute; // required for height to work when content is short
  height: 100%;
  width: 100%;

  @media print {
    display: block;
    position: static;
    height: auto;
    width: auto;
  }
}

$sidebar-width: 12 * $ca-grid;
%sidebar {
  background-color: $ca-palette-stone;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: $sidebar-width;
  z-index: $ca-z-index-fixed;
  padding: $ca-grid;

  // stack sidebar and content vertically in print
  @media print {
    background-color: transparent;
    overflow-y: visible;
    overflow-x: visible;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
}

// enforce fixed width despite potential scrollbar on %sidebar
%sidebar-content {
  width: $sidebar-width - 2 * $ca-grid;
}

%content {
  // to support sticky footer
  display: flex;
  flex-direction: column;
  margin-left: $sidebar-width;
  padding: $ca-grid;

  flex: 1 1 auto;

  // stack sidebar and content vertically in print
  @media print {
    display: block;
    padding: 0;
    margin-left: 0;
    overflow: visible;
  }

  &:only-child {
    margin: 0 auto;
    width: 100%; // fixes centering in IE 11 at max-width
    min-width: 100%; // prevents too-wide content slipping under NavigationBarApp

    @media (min-width: 480px) {
      min-width: auto;
      max-width: 900px;
    }
  }
}

// sidebar/content styles cannot be used inside of this container
%body--legacy-sticky-footer {
  // a flex column to support %legacy-sticky-footer
  display: flex;
  flex-direction: column;

  flex: 1 1 0px;
  height: 0; // flex-basis 0px doesn't work in most browsers
}

%legacy-sticky-footer {
  // sticky footer inside of %body--legacy-sticky-footer
  margin-top: auto;
  width: 100%;
}

