@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/layers';

$width: 248px;
$side-padding: 18px;

.container {
  position: absolute;
  background: #fff;
  width: $width;
  border: 1px solid add-tint($ca-palette-ink, 80%);
  box-shadow: $ca-box-shadow;
  line-height: 40px;
  z-index: $ca-z-index-dropdown;
}

%menuItem {
  background: transparent;
  font-size: 14px;
  line-height: 20px;
  color: $ca-palette-ink;
  cursor: pointer;
  text-align: left;

  a {
    padding: 10px $side-padding;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex: 0 0 100%;
  }

  &:hover {
    background: $ca-palette-stone;

    .menuItem__icon {
      color: add-tint($ca-palette-ink, 60%);
    }
  }
}

.headerContainer {
  padding: 10px $side-padding;
  font-size: 11px;
  line-height: 14px;
  text-align: left;
  color: add-alpha($ca-palette-ink, 40%);
  border-bottom: $ca-border-color 1px solid;
}

.headerTitle,
.headerContent {
  display: block;
}

.headerTitle {
  font-weight: 500;
  text-transform: uppercase;
}

.menuItemLink,
.menuItemAction {
  @extend %menuItem;
}

.hoverIcon .menuItem__icon .menuItem__title {
  flex: 4;
}

.menuItem__icon {
  flex: 1;
  text-align: right;
  color: add-tint($ca-palette-ink, 80%);

  .hoverIcon & {
    opacity: 0;
  }
  .hoverIcon:hover & {
    opacity: 1;
  }
}

.separator {
  height: 1px;
  width: 100%;
  border: 0;
  background: add-tint($ca-palette-ink, 80%);
  visibility: visible;
  margin: 5px 0;
}
