@import '~cultureamp-style-guide/styles/type';
@import '~components/card/Card.module.scss';

.cardWrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.iconExample {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-width: 96px;
  height: 96px;
  margin: $cardPadding 30px;

  strong {
    @include ca-type-ideal-labels-and-legends;
    text-transform: uppercase;
  }

  .opacityLabel {
    font-size: $ca-labels-and-legends-font-size;
    font-weight: $ca-weight-book;
  }
}
