@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/color';

.header {
  composes: h2 from 'components/HtmlContent.module.scss';
}

$tileWidth: $ca-grid * (6 + 2/3);
$tileHeight: $ca-grid * 6;

.iconGrid {
  border-top: 1px solid $ca-border-color;
  padding-top: calc(#{$ca-grid} - 1px);
  display: grid;
  grid-template-columns: repeat(auto-fill, $tileWidth);
  grid-row-gap: $ca-grid * 2;
}

.iconTile {
  composes: buttonReset from 'components/HtmlContent.module.scss';
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';
  cursor: pointer;
  border-radius: $ca-border-radius;

  &:hover,
  &:active,
  &:focus {
    background: add-tint($ca-palette-ink, 94%);
  }
}

.tileWrapper {
  // Due to a firefox bug, we must use the display:flex rule on a wrapper div rather than the button element directly.
  box-sizing: border-box;
  width: $tileWidth;
  height: $tileHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: $ca-grid / 2;
}

.iconLabel {
  display: block;
  .iconLabelText {
    @include ca-type-ideal-body;
    display: block;
    text-align: center;
    font-weight: $ca-weight-light;
  }
}

.iconWrapper {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.copyLabel {
  display: block;
  opacity: 0;

  .copyLabelText {
    @include ca-type-ideal-small;
    display: block;
    text-align: center;
    color: $ca-palette-ocean;
  }

  .iconTile:hover &,
  .iconTile:focus &,
  .iconTile:active & {
    opacity: 1;
  }
  .clicked & {
    opacity: 1;
    color: $ca-palette-seedling;
    transition-duration: 0s;
  }
}

.tickIcon {
  height: $ca-grid * 2/3;
  float: right;
  transform: translateY($ca-grid / 3);
}

.pathInput {
  position: absolute;
  left: -100000px;
}
