.Button__button--2VOdS {
  display: inline-block;
  background: #d8dad9;
  color: rgba(62, 69, 67, 0.3);
  padding: 14px 21px;
  height: 47px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Open Sans";
  border-radius: 3px;
  -webkit-transition: none;
  transition: none;
  border: 0;
  outline: none; }
  .Button__button--2VOdS svg {
    position: absolute;
    top: 7px;
    width: 34px;
    height: 34px;
    color: inherit;
    line-height: 23px; }
  .Button__button--2VOdS:not(:disabled) {
    background: #f04c5d;
    color: #fff;
    cursor: pointer; }
    .Button__button--2VOdS:not(:disabled):hover, .Button__button--2VOdS:not(:disabled):focus {
      background: #e44858;
      text-decoration: none;
      color: #fff; }
    .Button__button--2VOdS:not(:disabled):active {
      position: relative;
      top: 1px; }
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

main {
  display: block; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

html [type="button"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

input {
  overflow: visible; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

select {
  text-transform: none; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.Demo__root--2X_aE {
  position: relative; }

.Demo__canvas--22k_r {
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #f5f6f6 25%, transparent 25%), -webkit-linear-gradient(45deg, #f5f6f6 25%, transparent 25%), -webkit-linear-gradient(45deg, transparent 75%, #f5f6f6 75%), -webkit-linear-gradient(45deg, transparent 75%, #f5f6f6 75%);
  background-image: linear-gradient(45deg, #f5f6f6 25%, transparent 25%), linear-gradient(45deg, #f5f6f6 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f5f6f6 75%), linear-gradient(45deg, transparent 75%, #f5f6f6 75%);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px; }

.Demo__selectPreset--1_4kS {
  position: absolute;
  right: 0;
  bottom: -webkit-calc(100% + 1em);
  bottom: calc(100% + 1em);
  max-width: 20%; }
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

main {
  display: block; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

small {
  font-size: 80%; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

html [type="button"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

input {
  overflow: visible; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

select {
  text-transform: none; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  margin: 0; }

#guide-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #guide-nav li {
    display: block; }
  #guide-nav a[href] {
    color: inherit;
    text-decoration: none; }
  #guide-nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0; }
    #guide-nav > ul > li {
      position: relative;
      text-transform: capitalize; }
      #guide-nav > ul > li:not(:last-child) {
        margin-right: 1em; }
      #guide-nav > ul > li:hover > ul {
        display: block; }
    #guide-nav > ul ul {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      margin: 0;
      padding: 0.4em;
      top: 100%;
      left: -0.4em; }

.componentDescription {
  width: 40em;
  max-width: 80%; }
