@import '~cultureamp-style-guide/styles/type.scss';

.breadcrumb {
  font-size: $ca-control-action-font-size;
  line-height: $ca-control-action-line-height;
  font-weight: $ca-weight-light;

  margin: $ca-grid / 2 0 $ca-grid;
  a {
    &:after {
      content: '/';
      padding: 0 5px;
    }
  }
}
