@import '~cultureamp-style-guide/styles/color.scss';
@import '~cultureamp-style-guide/styles/type.scss';

.breadcrumb {
  margin: 0;
  a {
    &:after {
      content: '/';
      color: add-alpha($ca-palette-ink, 50%);
      padding: 0 5px;
    }
    // Prevent the baseline transform from being applied twice.
    position: static;
  }

  .text {
    display: block;
    @include ca-type-ideal-control-action;
    font-weight: $ca-weight-light;
  }
}
