@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import 'checkerboard';

.root {
  position: relative;
}

.frame {
  background: $ca-palette-ink;
}

.canvas {
  @include checkerboard(12px, add-tint($ca-palette-ink, 95%), #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  transition: width 500ms;
}

.selectPreset {
  position: absolute;
  right: 0;
  bottom: calc(100% + 1em);
  max-width: 20%;
  select {
    @include ca-type-ideal-control-action;
  }
}

.controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: $ca-grid;

  > * {
    @include ca-type-ideal-body;
    flex: 1;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    button {
      @include ca-type-ideal-control-action;
    }
  }
}

.dimension {
  font-weight: bold;
}
