@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/border';

.contentContainer {
  font-size: $ca-body-ideal-sans-font-size;
  line-height: $ca-body-ideal-sans-line-height;
  font-weight: $ca-body-ideal-sans-font-weight;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote {
    max-width: 650px;
  }
}

.htmlContent {
  composes: contentContainer;
}

.h1,
.htmlContent h1 {
  font: $ca-heading-font;
  font-weight: $ca-weight-book;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.h2,
.htmlContent h2 {
  font: $ca-heading-font;
  font-size: $ca-heading-2-font-size;
  line-height: $ca-heading-2-line-height;
  // Note, we're not using $ca-heading-2-font-weight as the styleguide uses a lighter weight than murmur.
  font-weight: $ca-weight-book;
  margin-top: $ca-grid * 3;
  margin-bottom: $ca-grid;
}

.h3,
.htmlContent h3 {
  font: $ca-heading-font;
  font-size: $ca-heading-3-font-size;
  line-height: $ca-heading-3-line-height;
  font-weight: $ca-heading-3-font-weight;
  margin-top: 0;
  margin-bottom: $ca-grid;
}

.p,
.htmlContent p {
  margin: $ca-grid 0;
}

.introParagraph {
  composes: p;
  font-size: $ca-intro-para-ideal-sans-font-size;
  line-height: $ca-intro-para-ideal-sans-line-height;
  font-weight: $ca-intro-para-ideal-sans-font-weight;
}

.table,
.htmlContent table {
  width: 100%;
  th {
    text-align: left;
    border-bottom: 2px solid $ca-border-color;
  }
  td {
    border-bottom: 1px solid $ca-border-color;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.blockquote,
.htmlContent blockquote {
  border-left: 2px solid $ca-border-color;
  margin-left: 20px;
  padding-left: 18px;
}

.link,
.htmlContent a[href] {
  color: $ca-link-text-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $ca-link-hover-text-color;
  }
  &:active,
  &:focus {
    outline-color: add-tint($ca-palette-wisteria, 30%);
    outline-offset: 2px;
  }
}

.buttonReset {
  appearance: none;
  display: inline;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

.buttonLink {
  composes: buttonReset;
  composes: link;
  padding: 0 2px;
}

.img,
.htmlContent img {
  max-width: 100%;
}

.hr {
  border: none;
  border-bottom: 1px solid add-alpha($ca-palette-ink, 10%);
  margin-top: $ca-grid;
  margin-bottom: $ca-grid * 2;
}
