@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/border';

.subNav {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: add-tint($ca-palette-wisteria, 90%);
  $padding: $ca-grid / 2;
  padding: $padding;
  overflow-y: auto;
  h2 {
    span {
      @include ca-type-ideal-display;
      display: block;
    }
    margin: 0;
    border-bottom: add-alpha($ca-palette-ink, 10%) 1px solid;
    padding: 0 $padding calc(#{$padding * 2} - 1px) $padding;
    pointer-events: none;
  }
}

.navSection {
  margin-bottom: $ca-grid * 2;
}

.navSectionLabel {
  @include ca-type-ideal-labels-and-legends;
  padding-left: 14px;
  margin: $ca-grid / 2 0;
}

.navItem {
  @include ca-type-ideal-control-action;
  font-weight: $ca-weight-light;
  display: block;
  box-sizing: border-box;
  height: $ca-grid * 2;
  padding: $ca-grid / 2;
  color: $ca-palette-ink;
  text-decoration: none;
  border-radius: $ca-border-radius;
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';

  &:hover,
  &:active {
    color: $ca-palette-ocean;
    background-color: add-alpha($ca-palette-ink, 3%);
  }

  &.active,
  &.active:hover,
  &.active:active {
    color: $ca-palette-ocean;
    background-color: transparent;
  }
}

.closeBtn {
  composes: buttonReset from 'components/HtmlContent.module.scss';
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';
  position: absolute;
  right: 0;
  top: 0px;
  display: border-box;
  width: $ca-grid * 2;
  height: $ca-grid * 2;
  padding-top: $ca-grid * 2 / 3;
}
