@import '~cultureamp-style-guide/styles/type';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/border';

.subNav {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: add-tint($ca-palette-wisteria, 90%);
  padding: 10px;
  h1 {
    font-size: $ca-heading-2-font-size;
    line-height: $ca-heading-2-line-height;
    font-weight: $ca-weight-light;
    margin: 0;
    padding: $ca-grid - 10px;
    padding-bottom: $ca-grid / 2;
    border-bottom: add-alpha($ca-palette-ink, 10%) 1px solid;
    margin-bottom: $ca-grid / 2;
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: $ca-grid * 2;
  padding: $ca-grid / 2;
  color: $ca-palette-ink;
  text-decoration: none;
  border-radius: $ca-border-radius;
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';

  &:hover,
  &:active,
  &.active {
    color: $ca-palette-ocean;
    background-color: add-tint($ca-palette-ink, 90%);
  }
}

.navItemIcon {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.navItemText {
  display: inline-block;
  font-size: $ca-control-action-font-size;
  font-weight: $ca-weight-light;
  line-height: $ca-control-action-line-height;
}

.closeBtn {
  composes: buttonReset from 'components/HtmlContent.module.scss';
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  top: 0;
}
