@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/type';

.root {
  composes: root from './StatusMenu.module.scss';
}

.button {
  composes: button from './Status.module.scss';

  // center child
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border-radius: $ca-border-radius;
  overflow: hidden;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.tooltip {
  composes: tooltip from './Link.module.scss';
}

.suppressed {
  composes: suppressed from './Link.module.scss';
}

.menu {
  composes: menu from './StatusMenu.module.scss';
}

.userDetails {
  display: block;
  margin-bottom: calc(#{$ca-grid / 2} - 1px);
  padding: 0 2em ($ca-grid / 2);

  border-bottom: 1px rgba(#fff, 0.1) solid;
}

.userName {
  font-size: $ca-heading-2-font-size;
  line-height: $ca-heading-2-line-height;
  font-weight: $ca-heading-2-font-weight;
}

.menuItem {
  composes: menuItem from './StatusMenu.module.scss';
}
