@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import '../styles';

.badge {
  background-color: $ca-palette-coral;
  color: #fff;
  font-weight: $ca-weight-semibold;
  text-decoration: none;
  text-transform: uppercase;

  // auto 1:1 (square) aspect ratio
  position: relative;
  &::after {
    display: block;
    content: '';
    padding-bottom: 100%; // % of parent width
  }
  > * {
    // fill the square
    position: absolute;
    width: 100%;
    height: 100%;

    // center child
    display: flex;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }
  }

  &.staging {
    background-color: add-tint($ca-palette-peach, 10%);
  }

  &.named {
    background-color: add-tint($ca-palette-seedling, 30%);
  }

  &.test {
    background-color: add-tint($ca-palette-wisteria, 30%);
  }

  &.local {
    background-color: add-tint($ca-palette-ocean, 50%);
  }
}
