@import '~cultureamp-style-guide/styles/border';

.root {
  composes: root from './Tooltip.module.scss';
}

.link {
  // fill parent
  display: flex;
  width: 100%;
  height: 100%;

  // center child
  align-items: center;
  justify-content: center;

  border-radius: $ca-border-radius;

  color: #fff;
  composes: interactiveIconWrapper from 'cultureamp-style-guide/components/Icon/Icon.module.scss';

  &:hover,
  &:focus {
    background-color: rgba(#fff, 0.1);
    outline: none; // override native focus styles
  }
}

.tooltip {
  composes: tooltip from './Tooltip.module.scss';
}

.content {
  composes: content from './Tooltip.module.scss';
}

.suppressed {
  composes: suppressed from './Tooltip.module.scss';
}
