@import '~cultureamp-style-guide/styles/border';
@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu {
  composes: tooltip visible from './Link.module.scss';

  &:focus {
    // focus is non-interactive
    outline: 0;
  }

  > * {
    align-self: flex-end;
    padding: 1em 0;

    // TODO: try body small
    font-size: $ca-body-font-size;
    line-height: $ca-body-line-height;
    font-weight: $ca-body-font-weight;
  }
}

.menuItem {
  display: block;
  padding: ($ca-grid / 8) 2em;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: add-tint($ca-palette-ink, 10%);
  }
}
