@import '~cultureamp-style-guide/styles/type';

.textContent {
  font-size: $ca-body-font-size;
  line-height: $ca-body-line-height;
  font-weight: $ca-weight-light;
  ul {
    list-style: inside;
    margin-left: 10px;
  }
}
