@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';
@import '~components/card/Card.module.scss';

$cardPadding: $ca-grid;

.cardWithHeader {
  composes: card;
  padding: 0;
}

.cardHeader {
  background: add-alpha(add-tint($ca-palette-ink, 70%), 30%);
  padding: $cardPadding;
}

.headerText {
  @include ca-type-ideal-heading;
  display: inline-block;
}

.cardBody {
  padding: ($cardPadding / 2) $cardPadding;
  ul {
    $mdash: '\2014\a0';
    list-style: $mdash;
    padding-left: 21px;
    p {
      margin-left: 7px;
    }
  }
}

.iconWrapper {
  margin-right: $ca-grid / 3;
  display: inline-block;
  height: $ca-grid;
  transform: translateY(3px);
  float: left;
}

.tipIcon {
  color: $ca-palette-seedling;
}

.warningIcon {
  color: $ca-palette-coral;
}

.tipsContainer {
  display: grid;
  grid-gap: 1rem;
  justify-content: space-between;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
