@import 'styles';

.navigationBar {
  @extend %ca-navigation-bar;
}

.links {
  margin-bottom: auto;

  > ul {
    margin: 0;
    list-style-type: none;
  }
}

.child {
  display: block;
  width: 2 * $ca-grid;
  margin: $ca-grid / 4;

  // auto 1:1 (square) aspect ratio
  position: relative;
  &::after {
    display: block;
    content: '';
    padding-bottom: calc(100%); // % of parent width
  }
  > * {
    // fill the square
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
