@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

.card {
  border-radius: 3px;
  min-width: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: 20px;
}

.colorCard {
  composes: card;
  max-width: 360px;
  padding: 18px;
}

.colorCard h3 {
  font-weight: $ca-weight-light;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: $ca-heading-3-font-size;
  line-height: $ca-heading-3-font-size;
  height: $ca-heading-3-font-size;
}

.colorCard h3 a {
  color: $ca-palette-ink;
  display: block;
  color: $ca-palette-ink;
  cursor: pointer;
}

.toggleIconWrapper {
  color: add-tint($ca-palette-ink, 80);
  position: relative;
  top: 6px;
  left: 2px;
}

.colorCard h4 {
  text-transform: uppercase;
  color: add-tint($ca-palette-ink, 50%);
  font-weight: $ca-weight-normal;
  font-size: 10px;
  line-height: 10px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.colorBlock {
  box-sizing: border-box;
  background: black;
  height: 91px;
  line-height: 71px;
  vertical-align: middle;
  margin-bottom: 4px;
  padding: 10px;
  font-weight: $ca-weight-light;
  color: $ca-palette-ink;
  display: flex;
  flex-direction: row;
}

.colorBlockHalf {
  height: 41px;
  line-height: 21px;
}

.whiteText {
  color: white;
}

.kebabContainer {
  line-height: 80px;
}

.colorBlockLabel {
  flex: 1;
}

.colorBlockHalf .kebabContainer {
  line-height: 27px;
}
