@import '~cultureamp-style-guide/styles/color';
@import '~cultureamp-style-guide/styles/type';

.card {
  border-radius: 3px;
  min-width: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  margin-bottom: 20px;
}

.colorCard {
  composes: card;
  max-width: 360px;
  padding: 18px;
}

.subHeader {
  text-transform: uppercase;
  color: add-tint($ca-palette-ink, 50%);
  font-weight: $ca-weight-normal;
  font-size: 10px;
}

.colorBlock {
  background: $ca-palette-ocean;
  height: 91px;
  line-height: 91px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.colorBlockHalf {
  height: 41px;
  line-height: 41px;
}

//
// Set the Culture Amp colours
//

@mixin cardColors($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
}

.coral {
  @include cardColors($ca-palette-coral, white);
}
.paper {
  @include cardColors($ca-palette-paper, $ca-palette-ink);
}
.ink {
  @include cardColors($ca-palette-ink, white);
}
.seedling {
  @include cardColors($ca-palette-seedling, $ca-palette-ink);
}
.ocean {
  @include cardColors($ca-palette-ocean, white);
}
.lapis {
  @include cardColors($ca-palette-lapis, white);
}
.wisteria {
  @include cardColors($ca-palette-wisteria, white);
}
.peach {
  @include cardColors($ca-palette-peach, $ca-palette-ink);
}
.yuzu {
  @include cardColors($ca-palette-yuzu, $ca-palette-ink);
}
.positiveDelta {
  @include cardColors($ca-palette-positive-delta, $ca-palette-ink);
}
.negativeDelta {
  @include cardColors($ca-palette-negative-delta, white);
}
.stone {
  @include cardColors($ca-palette-stone, $ca-palette-ink);
}
