@import '~cultureamp-style-guide/styles/type';

@mixin setupColumns($numColumns) {
  .cardContainer {
    display: grid;
    grid-gap: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat($numColumns, minmax(280px, 360px));
  }

  .gridHeader {
    grid-column-start: 1;
    grid-column-end: span $numColumns;
  }
}

@media screen and (min-width: 1160px) {
  @include setupColumns(3);
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  @include setupColumns(2);
}

@media screen and (max-width: 767px) {
  @include setupColumns(1);
}

.intro {
  font-size: $ca-intro-para-font-size;
  line-height: $ca-intro-para-line-height;
  font-weight: $ca-weight-extra-light;
}
