@import 'color';

$ca-grid: 1.5rem; // 24px @ default root font-size of 16px

$ca-weight-extra-light: 200;
$ca-weight-light: 300;
$ca-weight-book: 400;
$ca-weight-medium: 500;
$ca-weight-semibold: 500; // Note: in Sketch, semibold is 600. But murmur has an existing value of semibold=500 that is heavily used.

// Combine these into a Sass map ($ca-default-font) once node-sass includes libsass 3.5.0.beta.3 with this bug fix: https://github.com/sass/libsass/issues/2309
$ca-default-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$ca-default-font-base-size: 0.875rem;
$ca-default-font-descender-height: 0.115;

// Combine these into a Sass map ($ca-default-font) once node-sass includes libsass 3.5.0.beta.3 with this bug fix: https://github.com/sass/libsass/issues/2309
$ca-ideal-sans-font-family: 'Ideal Sans A', 'Ideal Sans B',
  $ca-default-font-family;
$ca-ideal-sans-font-base-size: 1rem;
$ca-ideal-sans-font-descender-height: 0.14;

@mixin ca-type(
  $family: $ca-default-font-family,
  $base-size: $ca-default-font-base-size,
  $descender-height: $ca-default-font-descender-height,
  $size: 1,
  $grid-span: 1,
  $weight: $ca-weight-book,
  $letter-spacing: normal
) {
  font-family: $family;
  font-weight: $weight;
  letter-spacing: $letter-spacing;

  $font-size: $base-size * $size; // rem
  font-size: $font-size;
  $line-height: ($ca-grid * $grid-span) / $font-size;
  line-height: $line-height;

  // shift text down to baseline grid
  transform: translateY(#{$descender-height + ($line-height - 1) / 2}em);
}

@mixin ca-title-type($args...) {
  @include ca-type(
    $size: 12/7,
    $grid-span: 1.5,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-ideal-title-type($args...) {
  @include ca-title-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-display-type($args...) {
  @include ca-type(
    $size: 10/7,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-ideal-display-type($args...) {
  @include ca-display-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-heading-type($args...) {
  @include ca-type(
    $size: 8/7,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-ideal-heading-type($args...) {
  @include ca-heading-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-lede-type($args...) {
  @include ca-type(
    $size: 8/7,
    $args...
  );
}

@mixin ca-ideal-lede-type($args...) {
  @include ca-lede-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-body-type($args...) {
  @include ca-type($args...);
}

@mixin ca-ideal-body-type($args...) {
  @include ca-body-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-control-action-type($args...) {
  @include ca-type(
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-ideal-control-action-type($args...) {
  @include ca-control-action-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-small-type($args...) {
  @include ca-type(
    $size: 6/7,
    $args...
  );
}

@mixin ca-ideal-small-type($args...) {
  @include ca-small-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-labels-and-legends-type($args...) {
  @include ca-type(
    $size: 3/4,
    $letter-spacing: 0.04em,
    $args...
  );
}

@mixin ca-ideal-labels-and-legends-type($args...) {
  @include ca-labels-and-legends-type(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}
