@import 'color';

$ca-grid: 1.5rem; // 24px @ default root font-size of 16px

$ca-weight-extra-light: 200;
$ca-weight-light: 300;
$ca-weight-book: 400;
$ca-weight-medium: 500;
$ca-weight-semibold: 500; // Note: in Sketch, semibold is 600. But murmur has an existing value of semibold=500 that is heavily used.

// Combine these into a Sass map ($ca-default-font) once node-sass includes libsass 3.5.0.beta.3 with this bug fix: https://github.com/sass/libsass/issues/2309
$ca-default-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$ca-default-font-base-size: 0.875rem; /* 14px */
$ca-default-font-descender-height: 0.115;

// Combine these into a Sass map ($ca-default-font) once node-sass includes libsass 3.5.0.beta.3 with this bug fix: https://github.com/sass/libsass/issues/2309
$ca-ideal-sans-font-family: 'Ideal Sans A', 'Ideal Sans B',
  $ca-default-font-family;
$ca-ideal-sans-font-base-size: 1rem; /* 16px */
$ca-ideal-sans-font-descender-height: 0.14;

// Inspired by Basekick from SEEK: https://github.com/michaeltaranto/basekick
@mixin ca-type(
  $family: $ca-default-font-family,
  $base-size: $ca-default-font-base-size,
  $descender-height: $ca-default-font-descender-height,

  $size-ratio: 1,
  $line-height-in-grid-units: 1,
  $weight: $ca-weight-book,
  $letter-spacing: normal
) {
  font-family: $family;
  font-weight: $weight;
  letter-spacing: $letter-spacing;

  $font-size: $base-size * $size-ratio; // in rem
  $absolute-line-height: $ca-grid * $line-height-in-grid-units; // in rem
  $line-height-ratio: $absolute-line-height / $font-size; // unitless number
  $line-spacing: $line-height-ratio - 1;
  font-size: $font-size;
  // Note: because of precision errors, using $line-height-ratio here will sometimes result in a computed
  // line height slightly below our desired. For example 35.994px instead of 36px. Because Chrome and Safari
  // round down to the nearest pixel, this gives us a height of 35px, breaking the grid.
  // Therefore we're using $absolute-line-height, which means for now we can't nest type styles.
  line-height: $absolute-line-height;

  position: relative;
  top: #{$descender-height + $line-spacing / 2}em;
}

@mixin ca-type-title($args...) {
  @include ca-type(
    $size-ratio: 12/7,
    $line-height-in-grid-units: 1.5,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-type-ideal-title($args...) {
  @include ca-type-title(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-type-display($args...) {
  @include ca-type(
    $size-ratio: 10/7,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-type-ideal-display($args...) {
  @include ca-type-display(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-type-heading($args...) {
  @include ca-type(
    $size-ratio: 8/7,
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-type-ideal-heading($args...) {
  @include ca-type-heading(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-type-lede($args...) {
  @include ca-type(
    $size-ratio: 8/7,
    $args...
  );
}

@mixin ca-type-ideal-lede($args...) {
  @include ca-type-lede(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $weight: $ca-weight-light,
    $args...
    );
}

@mixin ca-type-body($args...) {
  @include ca-type($args...);
}

@mixin ca-type-ideal-body($args...) {
  @include ca-type-body(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $weight: $ca-weight-light,
    $args...
  );
}

@mixin ca-type-control-action($args...) {
  @include ca-type(
    $weight: $ca-weight-medium,
    $args...
  );
}

@mixin ca-type-ideal-control-action($args...) {
  @include ca-type-control-action(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $args...
  );
}

@mixin ca-type-small($args...) {
  @include ca-type(
    $size-ratio: 6/7,
    $args...
  );
}

@mixin ca-type-ideal-small($args...) {
  @include ca-type-small(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $weight: $ca-weight-light,
    $args...
  );
}

@mixin ca-type-labels-and-legends($args...) {
  @include ca-type(
    $size-ratio: 3/4,
    $letter-spacing: 0.04em,
    $args...
  );
  text-transform: uppercase;
}

@mixin ca-type-ideal-labels-and-legends($args...) {
  @include ca-type-labels-and-legends(
    $family: $ca-ideal-sans-font-family,
    $base-size: $ca-ideal-sans-font-base-size,
    $descender-height: $ca-ideal-sans-font-descender-height,
    $weight: $ca-weight-light,
    $args...
  );
}

@mixin debug-vertical-rhythm-grid() {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAKUlEQVRIiWN49OjRf1pihlEwCkbBKCACvH379j8t8UD7bxSMglEwJAAAvrOyCTd0/dgAAAAASUVORK5CYII=');
    pointer-events: none;
  }
}
