@import 'styles';

svg {
  [fill='#ffffff'],
  [fill='#fff'],
  [fill='#FFFFFF'],
  [fill='#FFF'],
  [fill='white'] {
    // masks need to be white to work
    &:not(mask) {
      fill: inherit;
    }
  }

  [fill='#000000'],
  [fill='#000'],
  [fill='black'] {
    &:not(mask) {
      fill: currentColor;
    }
  }

  // Sketch wraps every exported SVG in a <g> with fill="none"
  > g[fill='none'] {
    fill: inherit;
  }
}

.icon {
  @extend %caIcon;
}

.inheritSize {
  @extend %caIconInheritSize;
}
