svg {
  [fill='#000000'],
  [fill='#000'] {
    fill: currentColor;
  }
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.inheritSize {
  width: inherit;
  height: inherit;
  display: block;
}

%kaizenIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

%kaizenIconInheritSize {
  width: inherit;
  height: inherit;
  display: block;
}
